
<h1>@ViewData["Title"]</h1>

<form action="FormCreate" method="post">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" name="Title"></td>
        </tr>
        <tr>
            <td>ReleaseYear</td>
            <td><input type="text" name="ReleaseYear"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Cadastrar">
            </td>
        </tr>
    </table>
</form>
<!--
<script>
    function cadastrar() {
        var data = {
            title: document.getElementById("Title").value;
            releaseYear: document.getElementById("ReleaseYear").value;
        }
    }
</script>
-->